.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 10rem; 
  }
  
  .spinner {
    border: 16px solid var(--gray-principal);
    border-top: 16px solid var(--color-main); 
    border-radius: 50%;
    width: 5rem;
    height:5rem;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .message {
    margin-top: 20px;
    font-size: 1.2em;
    color: var(--color-main);
  }