.swiper {
    display: flex;
    min-height: 15rem;
    height: auto;
    width: 100%;
    padding: 0rem;
    box-sizing: border-box; /* Añadir esto para asegurar que el padding se incluye en el ancho total */
}

.slice {
    display: flex;
    width: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}