.button{
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    aling-items: center;
    padding:1rem;
    min-width:10rem;
    border: none;
    width:100%; 
}

.primary{
    background: var(--color-main);
    color: var(--white-principal);
}