.button{
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    aling-items: center;
    padding:1rem;
    min-width:10rem;
    border: none;
    font-size: 0.9rem;
}

.primary{
    background: var(--color-main);
    color: var(--white-principal);
}

.secondary{
    background: var(--color-mainVariant);
    color: var(--white-principal);
}

