.button{
  
    display: flex;
    justify-content: center;
    aling-items: center;
    padding:1rem;
    width:10rem;
    border: none;
}

.primary{
    background: var(--color-main);
    color: var(--white-principal);
}