:root {
--color-main: #1e443d;
--color-mainVariant: #0D433B;
--color-offer: #ba413c;
--white-principal: #FFFFFF;
--black-principal: #000000;
--gray-principal:  #808080;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Futura, sans-serif;
}

body {
}


.title_section {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 0rem;
  width: 100%;
}

