.body {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.title {
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.shipping_options {
  display: flex;
  width: 100%;
  height: auto;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.shipping_option {
  display: flex;
  flex-direction: column;
}
.icon {
  color: var(--color-main);
}
