.card {
  display: flex;
  flex-direction: column;
  width: 11rem;
  height: auto;
  min-height: 15rem;
  margin: 0; 
  padding: 0; 
}

.image_container {
  width: 100%;
  padding-top: 100%; 
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.button_details {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--color-main);
  color: var(--white-principal);
  padding: 0.6rem;
  border: none;
  outline: none;
  margin: 0.5rem;
}

.info_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1rem 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.name {
  font-weight: 300;
  font-size: 0.9rem;
}

.price {
  font-size: 0.8rem;
  color: var(--gray-principal);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 125;
  display: none; 
  opacity: 1;
  transition: opacity 0.2s ease; 
}

.overlayActive {
  display: block; 
}

.show_details {
  display: flex;
  flex-direction: column;
  background: var(--white-principal);
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 150;
  transition: transform 0.2s ease;
}

.show_details__active {
  animation: slideUp 0.2s ease-out forwards;
}

.show_details__desactive {
  animation: slideDown 0.2s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.details_header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;
  color: var(--black-principal);
  padding: 1rem;
  position: relative;
}

.details_section {
  border-bottom: 1px solid #ccc;
}

.details_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  color: var(--black-principal);
  gap: 0.2rem;
  padding-bottom: 1rem;
}

.details_image_container {
  display: flex;
  width: 12rem;
  height: 12rem;
  position: relative;
  overflow: hidden;
  border: 1px solid green;
  margin: 1rem;
}

.details_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details_name {
  font-weight: 300;
  font-size: 0.9rem;
  text-align:center;
}

.details_price {
  font-size: 1rem;
  color: var(--gray-principal);
}

.details_footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}

.details_button_container{
  display: flex;
  width:100%;
  height:auto;
  justify-content: center;
}

.details_button{
  width:90%;
}



.close_modal {
  position: absolute;
  right: 5%;
}