.card {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: auto;
}

.image_container {
  width: 100%;
  height: auto;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.button_details {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background: var(--color-main);
  color: var(--white-principal);
  margin: 0;
  padding: 0.6rem;
  border: none;
  outline: none;
}

.info_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1rem 0.5rem;
  justify-content: center;
  aling-items: center;
  text-align: center;
  gap: 0.5rem;
}
.name {
  font-weight: 300;
  font-size: 0.9rem;
}

.price {
  font-size: 0.8rem;
  color: var(--gray-principal);
}
